<?xml version="1.0"?>
<configuration>
  <system.web>
	  <authorization>
		  <allow users="*"/>
	  </authorization>
  </system.web>
	<connectionStrings>
		<add name="Aquarium-DB" connectionString="Server=tcp:aquarium-server.database.windows.net,1433;Initial Catalog=Aquarium-DB;Persist Security Info=False;User ID=Shivani;Password=Data@2020;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" />
	</connectionStrings>
</configuration>
